
@media(max-width: 1440px){
.header-fixed.header-one {
    padding: 15px;
    background: #0e648c;
    width: 100%;
    border-radius: 0;
    float: right;
}
.lnews-img {
    bottom: -23px;
}
.slider-content h2 {
    font-size: 45px;
}
/*.main-div {*/
/*    height: 715px;*/
/*    width: 100%;*/
/*    background-size: contain;*/
/*}*/
.main-div {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 50px 0px 0px 0px;
}
.slider-content p {
    font-size: 16px;
}
.patner-bg {
    top: 0;
}
}

@media(max-width: 1280px){
.main-div {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 50px 0px 0px 0px;
}
}
@media(max-width: 1024px){
.main-div {
    background-position: center;
    height: auto;
}
.owl-nav {
    display: none;
}
.patner-bg {
    top: -62px;
}
.slider-content h2 {
    font-size: 45px;
}
section.ws-section-spacing.events {
    background: #c3e6f6;
    border-radius: 0;
}
.slick-prev, .slick-next {
    top: 72%;
}
.lnews-img {
    display: none;
}
.latest-news {
    background-image: url(../images/news-bg.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.evnt-content {
    margin: 0 0 40px;
    width: 100%;
    text-align: center;
}
.slick-next {
    right: 0;
}
.slick-prev {
    left: 0;
}
.slick-prev, .slick-next {
    top: 40%;
    display: none !important;
}
}

@media (max-width: 992px){
    span.saprater {
    margin: 0 auto;
}
    .brand-logo {
    display: none;
}
.slicknav_brand img {
    width: 65%;
}
.top-socail {
    text-align: center;
}
.main-div {
    height: auto;
}
.topbar {
    text-align: center;
}
.top-socail ul li a img {
    width: 43px;
    display: inline-block;
    margin: 7px 0;
    /*padding-left: 20px;*/
}
}

@media (max-width: 768px) {
.owl-nav {
    display: none;
}

}

@media(max-width: 766px){
    .about-contetn {
    padding: 30px 0;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    display: none;
}

.about-contetn h3 {
    font-size: 20px;
}

.about-contetn h4 {
    font-size: 16px;
}

.about-contetn p {
    font-size: 15px;
    padding: 0;
    margin-bottom: 15px;
}

.about-img img {
    width: 42% !important;
    margin: 0 auto;
}
}

@media(max-width: 450px){
 .slider-content h2 {
    font-size: 32px;
}
.slider-content p {
    font-size: 14px;
}
.main-div {
    width: 100%;
    background-size: contain;
}
.slider-content h2 {
    color: #ffffff;
}
.slider-content p {
    color: #fff;
}
.about-contetn {
    padding: 40px 0;
}
.ws-section-spacing {
    /* padding: 0px; */
}
}

@media(max-width: 375px){

}

@media(max-width: 320px){
    
}
